body {
    background-color:whitesmoke;
    color:midnightblue ;
    position: absolute;
    font-family: 'Open Sans Condensed', sans-serif;
}

.profile-image {
    width: 200px;
    height: auto;
    position: relative;
    top: 10px;
    right: 10px;
}
